
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Lobster+Two:ital,wght@0,700;1,400;1,700&family=Pacifico&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

section{
  display: flex;
  position: absolute;
  z-index: 4;
}

/* section 1 */

.section1{
  width: 27vw;
  margin-right: 2%;
  margin-left: 5%;
}
.submenu {
  background-color: #ececfa;
  display: block;
  padding: 4% 4%;
  border-bottom: 1px solid #a7a7ad;
  padding-left: 4%;
  text-decoration: none;
}

img.logo {
  width: 23vw;
  height: 20vh;
}

.navigation {
  margin-top: 2vh;
  width: 100%;
  height: 7vh;
  background-color: #19e5e5;
  display: flex;
  align-items: center;
}
img.toggle {
  height: 6vh;
  width: 3vw;
  margin-left: 2%;
}

a.cgr {
  margin-left: 3%;
}

a.submenu:hover {
  cursor: pointer;
  background-color: #ffffff;
}

/* section 2 */

.section2{
  width: 68vw;
  display: inline-block;
}

.txtsrc {margin-left: 18%;margin-top: 5%;width: 23vw;height: 5vh;border: 1px solid #d5d5e6;}

input.txtsrc[placeholder] {
    padding-left: 1%;
}

button.btnsrch {
    width: 5vw;
    height: 5vh;
    background-color: #19e5e5;
    border: 0px;
}

img.call-icon {
  height: 4.5vh;
  margin-left: 12%;
}

span.tel-no {
  font-size: 1.5vw;
  font-family: fantasy;
}

nav {
  margin-top: 4%;
  width: 100%;
  height: 2%;
  background-color: white;
  display: flex;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
}

a.menu-item {
  margin-top: 3vh;
  padding: 2%;
  text-decoration: none;
  background-color: black;
  color: #fff;
  font-family: 'Lobster Two';
  font-size: 1.5vw;
  box-shadow: 10px 15px 50px #cccccc;
}

a.menu-item:hover {background-color: #1d9550;box-shadow: none;}


.slider {
  background-color: #ececfa;
  width: 68vw;
  height: 52vh;
  margin-top: 15vh;
  overflow: hidden;
}
.slides {
  width: 200vw;
  height: 52vh;
  display: flex;
}

.slide1 {
  width: 68vw;
  height: 52vh;
}

img.img1 {
  width: 33vw;
  height: 38vh;
  display: inline-block;
  margin-top: 4%;
}

img.img2 {
  width: 38vw;
  height: 50vh;
}
img.img3 {
  width: 38vw;
  height: 52vh;
}


img.img3 {
  width: 38vw;
  height: 52vh;
}

.constant {font-family: 'pacifico';margin-bottom: 4vh;position: absolute;width: 26vw;height: 52vh;margin-left: 36vw;}

.constant h1 {
  margin-top: 10vh;
  color: #19e5e5;
}
.constant p {
  font-family: 'pacifico';
  margin-top: 5vh;
  margin-bottom: 3vh;
}

a.btnshop {
  padding: 4%;
  color: #fff;
  background-color: #313030;
  border-radius: 10px;
}